body{
	width:100%;
}

.titulo1{
	display:none;
	}

div.logo-inicio{
	width: 460px;
	height: 93px;
	min-width:360px;
	max-width:550px;
	}
	
img.logo-inicio{
	width:100%;
	height:auto;
	}	

.subtitulo{
	position:relative;
	top:10px;
	left:1%;
	width:98%;
	height:80px;
	font-family:'Raleway',sans;
	font-size:36px;
	color:#b04040;
	display:block;
	overflow:visible;
}

#bloq-titulo{
	position:relative;
	width:100%;
	height:160px;
	display:block;
	letter-spacing:-1em;
}

div.boton_menu{
	position:relative;
	top:55px;
	left:10px;
	width:160px;
	height:26px;
	display:inline-block;
	overflow:visible;
	z-index:10;

}

img.boton_menu{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	}

.boton-home{
	position:fixed;
	bottom:45px;
	right:1px;
	z-index:10;
	opacity:0.6;
}

div.boton-lang{
	position:absolute;
	bottom:-20px;
	right:1% ;
	width:110px;
	height:40px;
	display:inline-block;
	overflow:visible;
}

#boton-sp{
	position:absolute;
	width:35;
	height:40px;
	left:35px;
	top:0px;
	display:inline;
	z-index:10;
}

#boton-en{
	position:absolute;
	width:35;
	height:40px;
	top:0px;
	right:0px;
	display:inline;
	z-index:10;
}

#bloq-carousel{
	position:relative;
	width:100%;
	height:auto;
	display:block;
}

#bloq-services{
	position:relative;
	top:0px;
	padding-bottom:20px;
	width:100%;
	height:auto;
	background:#df3030;
	display:block;
	border:1px solid #df3030;
}

.cuadro_serv{
	position:relative;
	left:70px;
	top:5px;
	display:inline-block;
	width:400px;
	height:220px;
}

.text1{
	position:absolute;
	left:150px;
	top:0px;
	display:inline-block;
	width:200px;
	height:220px;	
	font-family:sans,arial;
	font-size:17px;
	color:#ffffff;
	line-height:1.4em;
}

div.icon{
	position:absolute;
	top:20px;
	left:0px;
	display:inline-block;
	width:150px;
	height:220px;
}

#bloq-company{
	position:relative;
	top:0px;
	height:auto;
	width:100%;
	padding-bottom:120px;
	display:block;
	border:1px solid white;
}

div.txt-company{
	position:relative;
	top:5px;
	left:3%;
	width:40%;
	min-width:300px;
	height:350px;
	background:#ffe4e4;
	color:#606060;
	font-family:serif,times;
	font-size:16px;
	display:inline-block;
	overflow:auto;
	padding:10px;
	line-height:1.5em;
}


div.pict-company{
	position:relative;
	top:5px;
	left:3%;
	width:50%;
	min-width:320px;
	height:350px;
	display:inline-block;
	overflow:hidden;
}

img.pict1{
	position:relaitve;
	width:100%;
	height:auto;
}


#bloq-galeria{
	position:relative;
	top:0px
	height:auto;
	width:100%;
	background:#ffa8a8;
	display:block;
	padding-bottom:30px;
	border: 1px solid #ffa8a8;
}

.gal{
	position:relative;
	width:98%;
	height:auto;
	top:0px;
	left:1%;
	display:block;
	padding-bottom:25px;
}

.gal-subtitle{
	position:relative;
	top:1%;
	left:2%;
	width:98%;
	height:auto;
	display:block;
	font-family:'Raleway',sans;
	font-size:26px;
	color:#b04040;
	background:#ff9090;
	padding:2px;

}


.elemento{
	position:relative;
	top:1px;
	left:50px;
	height:133px;
	width:202px;
	display:inline-block;
}

.thumb{
	position:absolute;
	top:0px;
	left:0px;
	width:200px;
	height:113px;
	display:inline-block;
}


.name{
	position:absolute;
	top:113px;
	left:0px;
	color:#f0f0f0;
	background:#df3030;
	text-align:center;
	font-family:sans,arial;
	font-size:14px;
	height:20px;
	width:200px;
	display:inline-block;
}

.th{
	width:200px;
	height:113px;
}

#hotspot{
	width:100%;
	height:auto;
	min-width:360px;
	max-width:1000px;
	border: 5px solid #ffffff;	
	}

#ventana{
	position:fixed;
	width:85%;
	height:auto;
	min-width:360px;
	max-width:1000px;
	top:20px;
	left:8%;
	z-index:4;
}

#nombre{
	position:absolute;
	padding-top:2px;
	top:10px;
	left:5%;
	width:50%;
	height:40px;
	border-radius:4px;
	text-align:center;
	font-family:sans,arial;
	font-size:28px;
	background:#df3030;
	color:#ffffff;
	opacity:0.8;
	z-index:6;
}

#transparente{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background:#f0f0f0;
	opacity:0.90;
	z-index:2;
}


#bloq-contacto{
	position:relative;
	top:0px;
	height:auto;
	width:100%;
	background:#284028;
	display:block;
	padding-bottom:10px;
	border:1px solid #284028;
}

#logo-bn{
	position:absolute;
	top:80px;
	left:22%;
}

.contacto{
	position:relative;
	width:32%;
	height:320px;
	min-width:360px;
	max-width:550px;
	top:5px;
	left:2px;
	display:inline-block;
	overflow:hidden;

	}

.fcont{
	color:#ffffff;
	font-family:sans,arial;
	font-size:16px;
	padding:8px;
}

#line_v{
	position:absolute;
	top:0px;
	left:99%;
	width:3px;
	height:220px;
	border:1px solid white;
}

#quito{
	position:relative;
	top: 0px;
	left: 50px;	
	height:30px;
	width:100%;
	color:#ffffff;
	font-family:sans,arial;
	font-size:20px;
	text-align:center;
	display:inline-block;

}

#info{
	position:relative;
	top: 5px;
	left: 50px;	
	height:40px;
	width:100%;
	color:#ffffff;
	font-family:sans,arial;
	font-size:12px;
	display:inline-block;
	overflow:hidden;
}

ul{
	font-size:14px;
	color:#ffffff;
	font-family:sans,arial;
}

a.links_interest{
	line-height:1.4em;
	color:#f0f0f0;
}

a.links_interes:hover{
	text-decoration:underline;
}


